<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SkillFactory NEWs</title>

        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">NEWs PORTAL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/">allNEWs&ARTs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/search">SEARCH(Поиск)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/create">Create(Создание публикации)</a>
                         <li class="nav-item">
                          <li class="nav-item">
                            <a class="nav-link" href="/news/categories/1">Подписка SPORT</a>
                         <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/2">Подписка CULTURE</a>
                         <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/3">Подписка CITY</a>
                         <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/4">Подписка MOVIE</a>
                         <li class="nav-item">

                            {% if request.user.is_authenticated %}
                           <font color = "#cc0000">user:{{ request.user.username }}</font>
                                <a class="nav-link" href='http://127.0.0.1:8003/accounts/logout/'>Выход</a>
                            {% else %}
                                <a class="nav-link" href='http://127.0.0.1:8003/accounts/login'>Вход</a>
                                <a class="nav-link" href='http://127.0.0.1:8003/accounts/signup'>Регистрация</a>
                            {% endif %}
                         </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                     {% endblock content %}
                 </div>
             </div>
        </div>
    </body>
</html>
